<div class="container">
  <h1>Tic-Tacular!</h1>
  
  <form id='login' action='/login' method='post'>
    <input type="text" name="user[username]">
    <input type="password" name="user[password]">
  </form>

</div>
