
<h1>Welcome to the Lobby</h1>

<h2>Waiting For Game</h2>
<ul id="waiting_players">
  <% if waiting_players %>
    <% waiting_players.each do |game| %>
      <li><a href = "/game/<%= game.id %>/user/2/<%= @currentuser.id %>/start">Play with <%= User.find(game.user_1_id).username %>!</a></li>
   <% end %>
 <% end %>
</ul>


<button id="new_game" value="start_game">Start a Game</button>
<button id="logout"> <a href="/logout">Logout</a></button>
<script>var userId = <%= @currentuser.id %></script>
