<h2>Play a Game!</h2>

<table id="board" border="1" cellpadding="20" cellspacing="0">
<tr><td id="0" class="empty"><td id="1" class="empty"><td id="2" class="empty"></tr>
<tr><td id="3" class="empty"><td id="4" class="empty"><td id="5" class="empty"></tr>
<tr><td id="6" class="empty"><td id="7" class="empty"><td id="8" class="empty"></tr>
</table>

<script>var userId = <%= @currentuser.id %></script>
<script>var gameId = <%= @game.id %></script>
