<h2>Play a Game!</h2>

<table id="board" border="1" cellpadding="20" cellspacing="0">
<tr><td id="1" class="empty"><td id="2" class="empty"><td id="3" class="empty"></tr>
<tr><td id="4" class="empty"><td id="5" class="empty"><td id="6" class="empty"></tr>
<tr><td id="7" class="empty"><td id="8" class="empty"><td id="9" class="empty"></tr>
</table>

<script>var userId = <%= @user_id %></script>
